.property-reviews {
  display: block !important;
}

.rating-container {
  display: flex;
  border: 1px solid;
  margin: ;
}

.rating-container__right {
  width: 100%;
  margin-left: 4rem;
}

.rating-heading {
  font-size: 2.4rem;
}

.rating-comment {
  font-size: 2rem;
}
